.product-table {
  width: 95vw;
  border-collapse: collapse;
  margin-top: 20px;
  margin: 1rem;

}

.product-table th, .product-table td {
  border: 1px solid #0b56b7;
  padding: 20px;


}
.product_title{
  background-color: rgb(243, 243, 249);
}


.product-table th {
  background-color: #f2f2f2;

}

.product-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product-table tr:hover {
  background-color: #ddd;
}

/* @media screen {
  
} */
